[Desktop Entry]
Encoding=UTF-8
Name=Link to content not visible on mobile · Issue #17 · JoeyAndres/meteor-ionic
Type=Link
URL=https://github.com/JoeyAndres/meteor-ionic/issues/17
Icon=text-html
