<template name="layout">
    {{#ionBody}}


        {{#ionSideMenuContainer side="left"}}
            {{> sideMenu }}

            {{#ionSideMenuContent}}

                {{#ionNavView}}
                    {{> ionNavBar class="bar-balanced"}}

                    {{#ionView}}
                        {{#ionContent}}
                            <div class="padding">
                                {{> yield}}
                            </div>
                        {{/ionContent}}
                    {{/ionView}}
                {{/ionNavView}}

            {{/ionSideMenuContent}}

        {{/ionSideMenuContainer}}

    {{/ionBody}}
</template>